# Folders
venv/
models/

# Jupyter Notebooks - drafts
jupyter_notebooks/lesson_10.2.ipynb
jupyter_notebooks/lesson_11.1.ipynb
jupyter_notebooks/lesson_11.2.ipynb

jupyter_notebooks/current_exercises.ipynb

# Datasets
datasets/fashion_mnist_processed.npz

# __Course work support (samples)__


# Coursework datasets


# Might be useful - simple linear regression using statsmodels
jupyter_notebooks/lin_regr_statsmodels.ipynb
datasets/simple_lin_regression.csv


